<%- include('header'); -%>

<div class="contacts">
  <h3>Contact us</h3>
  <form class="" action="/message" method="post">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-2">
        <label for="userEmail">email</label>
        <label for="userMessageTitle">message's title</label>
        <label for="userMessageContent">message</label>
      </div>
      <div class="col-md-4">
        <input style="margin-top: 12px" type="text" name="userEmail">
        <br>
        <input style="margin-top: 50px; margin-bottom: 50px;" type="text" name="userMessageTitle">
        <textarea name="userMessageContent" rows="8" cols="80"></textarea>
      </div>
    </div>

    <div class="contactsButton">
      <button type="submit" name="button" class="btn btn-dark">Submit</button>
    </div>
  </form>
</div>

<%- include('footer'); -%>
