<%- include('header'); -%>

<h3>You have already logged in</h3>
<form class="contactsButton" action="/logout" method="post">
  <button type="submit" name="button" class="btn btn-dark">Log out</button>
</form>

<%- include('footer'); -%>
