<%- include('header'); -%>

<div class="container mt-5">
  <h1 style="color: white">Register</h1>

  <div style="width: 20vw; margin-left: auto; margin-right: auto">
    <div class="card social-block">
      <div class="card-body">
        <a class="btn btn-block navigationRedirector" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          Sign Up with Google
        </a>
      </div>
    </div>
  </div>

</div>

<%- include('footer'); -%>
